<section class="bg-zinc-900 p-20 rounded-xl my-4">
  <h2 class="text-5xl font-bold my-5">About Us</h2>
  <p class="text-zinc-300 text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi odit
    necessitatibus dolore magni aliquid dolores dolor excepturi, pariatur quod
    dignissimos! Natus, ab! Dignissimos accusantium ipsam, sit qui quaerat
    deserunt dicta.
  </p>
</section>
