<header
  class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl"
>
  <div>
    <h1 class="text-5xl font-bold">Protect Your Password</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias fugiat
      cum temporibus inventore soluta consequatur dicta, expedita suscipit,
      deleniti dolor sint facilis, repellat animi sunt amet est assumenda modi
      quasi?
    </p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400"> Log In</button>
  </div>
  <img src="images/fingerprint.svg" alt="" class="w-80" />
</header>
